.TabNav {
  display: flex;
  width: 75%;
  //   background-color: lightcyan;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  height: 50px;

  .TabLink {
    display: flex;
    justify-content: space-around;
    align-items: center;
    //  background-color: aquamarine;
    padding: 15px;

    .TabIcon {
      margin-right: 7px;
    }
  }

  .TabLink.active {
    color: purple;
    border: 1px solid lightgrey;
    border-bottom: 0;
    box-shadow: 3px -5px 5px whitesmoke;
  }
}

.SearchArea {
  position: absolute;
  top: 0;
  left: 20;

}