

a {
  text-decoration: none;
  color: black;
}

.grid-view {
  display: flex;
  flex-wrap: wrap;

}
 main {
box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
 }

 header h1 {
  text-align: center;
}


.ButtonDown {
  height: 100%;
  background: transparent;
  border: 1px solid whitesmoke;
  color: purple;
  border-radius: 7px;
  box-shadow: 3px -5px 5px whitesmoke;
}

.ButtonUp {
  height: 100%;
  background: transparent;
  border: 1px solid whitesmoke;
  color: purple;
  border-radius: 7px;
  box-shadow: 3px -5px 5px whitesmoke;
}


 
